In [4]:
print('pandas')
import os
os.getcwd()
os.chdir('/content/drive/MyDrive/Colab Notebooks')

pandas

# **Getting started with pandas**

In [80]:
import pandas as pd
df =pd.read_csv('nyc_weather.csv')
df

          EST  Temperature  DewPoint  ...  CloudCover    Events  WindDirDegrees
0    1/1/2016           38        23  ...           5       NaN             281
1    1/2/2016           36        18  ...           3       NaN             275
2    1/3/2016           40        21  ...           1       NaN             277
3    1/4/2016           25         9  ...           3       NaN             345
4    1/5/2016           20        -3  ...           0       NaN             333
5    1/6/2016           33         4  ...           0       NaN             259
6    1/7/2016           39        11  ...           3       NaN             293
7    1/8/2016           39        29  ...           8       NaN              79
8    1/9/2016           44        38  ...           8      Rain              76
9   1/10/2016           50        46  ...           7      Rain             109
10  1/11/2016           33         8  ...           1       NaN             289
11  1/12/2016           35        15  ...           4       NaN             235
12  1/13/2016           26         4  ...           0       NaN             284
13  1/14/2016           30        12  ...           7       NaN             266
14  1/15/2016           43        31  ...           2       NaN             101
15  1/16/2016           47        37  ...           7      Rain             340
16  1/17/2016           36        23  ...           6  Fog-Snow             345
17  1/18/2016           25         6  ...           2      Snow             293
18  1/19/2016           22         3  ...           1       NaN             293
19  1/20/2016           32        15  ...           2       NaN             302
20  1/21/2016           31        11  ...           1       NaN             312
21  1/22/2016           26         6  ...           3      Snow              34
22  1/23/2016           26        21  ...           8  Fog-Snow              42
23  1/24/2016           28        11  ...           3      Snow             327
24  1/25/2016           34        18  ...           2       NaN             286
25  1/26/2016           43        29  ...           2       NaN             244
26  1/27/2016           41        22  ...           3      Rain             311
27  1/28/2016           37        20  ...           1       NaN             234
28  1/29/2016           36        21  ...           4       NaN             298
29  1/30/2016           34        16  ...           0       NaN             257
30  1/31/2016           46        28  ...           0       NaN             241

[31 rows x 11 columns]

In [6]:
# get maximum temperature
df['Temperature'].max()

50

In [9]:
# to which days it rains
df['EST'][df['Events']=='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [10]:
# average wind speed
df['WindSpeedMPH'].mean()

6.892857142857143

In [82]:
# Date and Temperature when it rains
df[['EST','Temperature']][df['Events']== 'Rain']

          EST  Temperature
8    1/9/2016           44
9   1/10/2016           50
15  1/16/2016           47
26  1/27/2016           41

In [86]:
# Option 2
df[df['Events']== 'Rain'][['EST','Temperature']]

          EST  Temperature
8    1/9/2016           44
9   1/10/2016           50
15  1/16/2016           47
26  1/27/2016           41

# **DataFrame Basics**

In [11]:
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
# construct dataframe from tuples

weather_data = [('1/1/2017',32,6,'Rain'),
                ('1/2/2017',35,7,'Sunny'),
                ('1/3/2017',28,2,'Snow'),
                ('1/4/2017',24,7,'Snow'),
                ('1/5/2017',32,4,'Rain'),
                ('1/6/2017',31,2,'Sunny'),
                ]

df = pd.DataFrame(weather_data, columns = ('day','temperature','windspeed','event') )
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [13]:
# get dimensions of a df
df.shape

(6, 4)

In [15]:
# get first rows
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [16]:
# get last rows
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [18]:
# slicing

df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [19]:
# to print columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [20]:
df.day # print column

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [21]:
df['day'] # print column

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [23]:
# print multiple columns
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [24]:
# print max temperature
df['temperature'].max()

35

In [25]:
# print min temperature
df['temperature'].min()

24

In [26]:
# describe the summary
df['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [29]:
# describe all numerical columns
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [27]:
# print entire row for the maximum temperature
df[df['temperature']==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [30]:
# select day and event column of maximum temperature
df[['day','event']][df['temperature']== df['temperature'].max()]

        day  event
1  1/2/2017  Sunny

In [135]:
df =pd.read_csv('nyc_weather.csv')
df
#(df['WindDirDegrees']>200 and df['WindSpeedMPH']>4)
df[["EST",'Temperature']][(df['WindDirDegrees']>200) & (df['WindSpeedMPH']>4)]

          EST  Temperature
0    1/1/2016           38
1    1/2/2016           36
2    1/3/2016           40
3    1/4/2016           25
4    1/5/2016           20
11  1/12/2016           35
12  1/13/2016           26
13  1/14/2016           30
15  1/16/2016           47
16  1/17/2016           36
17  1/18/2016           25
18  1/19/2016           22
19  1/20/2016           32
20  1/21/2016           31
23  1/24/2016           28
25  1/26/2016           43
26  1/27/2016           41
27  1/28/2016           37
28  1/29/2016           36
29  1/30/2016           34
30  1/31/2016           46

# **Key Operations on Data Frames**

## **Read/Write CSV/XLS Files**

In [34]:
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [33]:
df = pd.read_excel('weather_data.xlsx')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [35]:
# write with index
df.to_csv('new.csv')

In [36]:
# write without index
df.to_csv('new_noindex.csv', index=False)

In [37]:
# write to excel
df.to_excel('new.xlsx',sheet_name='weather data')

## **GROUP BY**

In [38]:
df = pd.read_csv('weather_data_cities.csv')
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [39]:
g = df.groupby('city')
g

In [40]:
for city, city_df in g:
  print(city)
  print('*******************')
  print(city_df)

mumbai
*******************
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
new york
*******************
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
paris
*******************
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [41]:
g.get_group('new york')

        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny

In [42]:
# maximum temp of each city
print(g.max())

               day  temperature  windspeed  event
city
mumbai    1/4/2017           92         15  Sunny
new york  1/4/2017           36         12  Sunny
paris     1/4/2017           54         20  Sunny

In [43]:
# mean temp
print(g.mean())

          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75

In [45]:
# describe
print(g.describe())

         temperature                         ... windspeed
               count   mean       std   min  ...       25%   50%    75%   max
city                                         ...
mumbai           4.0  88.50  3.109126  85.0  ...      5.00   8.5  12.75  15.0
new york         4.0  32.25  3.304038  28.0  ...      6.75   7.0   8.25  12.0
paris            4.0  47.75  5.315073  42.0  ...      9.50  11.5  14.75  20.0

[3 rows x 16 columns]

## **Concatenate Data Frames**

In [46]:
india_weather = pd.DataFrame({
    'city':['mumbai','delhi','bangalore'],
    'temperature':[32,45,30],
    'humidity':[80,60,78]
})

india_weather

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78

In [47]:
us_weather = pd.DataFrame({
    'city':['new york','chicago','orlando'],
    'temperature':[21,14,35],
    'humidity':[68,65,75]
})

us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

In [49]:
# concatenate two df

df = pd.concat([india_weather, us_weather])
df

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
0   new york           21        68
1    chicago           14        65
2    orlando           35        75

In [50]:
# concatenate two df with continious index

df = pd.concat([india_weather, us_weather], ignore_index= True)
df

        city  temperature  humidity
0     mumbai           32        80
1      delhi           45        60
2  bangalore           30        78
3   new york           21        68
4    chicago           14        65
5    orlando           35        75

In [51]:
# column concat

df = pd.concat([india_weather, us_weather], axis =1)
df

        city  temperature  humidity      city  temperature  humidity
0     mumbai           32        80  new york           21        68
1      delhi           45        60   chicago           14        65
2  bangalore           30        78   orlando           35        75

## **Merge Data Frames**

In [52]:
temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore", 'hyderabad'],
    "temperature": [32,45,30,40]})
temperature_df

        city  temperature
0     mumbai           32
1      delhi           45
2   banglore           30
3  hyderabad           40

In [53]:
humidity_df = pd.DataFrame({
    "city": ["delhi","mumbai","banglore"],
    "humidity": [68, 65, 75]})
humidity_df

       city  humidity
0     delhi        68
1    mumbai        65
2  banglore        75

In [54]:
# merge 2 dataframes
df = pd.merge(temperature_df, humidity_df , on='city')
df

       city  temperature  humidity
0    mumbai           32        65
1     delhi           45        68
2  banglore           30        75

In [55]:
# merge 2 dataframes with outer join
df = pd.merge(temperature_df, humidity_df, on='city',how='outer')
df

        city  temperature  humidity
0     mumbai           32      65.0
1      delhi           45      68.0
2   banglore           30      75.0
3  hyderabad           40       NaN

## **Numerical Indexing (loc vs iloc)**

In [56]:
df = pd.DataFrame([1,2,3,4,5,6,7,8,9,19], index=[49,48,47,46,45, 1, 2, 3, 4, 5])
df

     0
49   1
48   2
47   3
46   4
45   5
1    6
2    7
3    8
4    9
5   19

In [79]:
# access through index
print(df.loc[46])
print(df.loc[49:1])

0    4
Name: 46, dtype: int64
    0
49  1
48  2
47  3
46  4
45  5
1   6

In [62]:
# access through row
df.iloc[:3]

    0
49  1
48  2
47  3

In [94]:
df = pd.read_csv('nba-2.csv')
df

              Name            Team  ...            College     Salary
0    Avery Bradley  Boston Celtics  ...              Texas  7730337.0
1      Jae Crowder  Boston Celtics  ...          Marquette  6796117.0
2     John Holland  Boston Celtics  ...  Boston University        NaN
3      R.J. Hunter  Boston Celtics  ...      Georgia State  1148640.0
4    Jonas Jerebko  Boston Celtics  ...                NaN  5000000.0
..             ...             ...  ...                ...        ...
453   Shelvin Mack       Utah Jazz  ...             Butler  2433333.0
454      Raul Neto       Utah Jazz  ...                NaN   900000.0
455   Tibor Pleiss       Utah Jazz  ...                NaN  2900000.0
456    Jeff Withey       Utah Jazz  ...             Kansas   947276.0
457            NaN             NaN  ...                NaN        NaN

[458 rows x 9 columns]

In [95]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [99]:
# select single column

df = pd.read_csv('nba-2.csv', index_col='Name')
print(df['Age'])

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
                 ...
Shelvin Mack     26.0
Raul Neto        24.0
Tibor Pleiss     26.0
Jeff Withey      26.0
NaN               NaN
Name: Age, Length: 458, dtype: float64

In [100]:
# select Age, college and salary
sel = df[['Age','College','Salary']]
sel

                Age            College     Salary
Name
Avery Bradley  25.0              Texas  7730337.0
Jae Crowder    25.0          Marquette  6796117.0
John Holland   27.0  Boston University        NaN
R.J. Hunter    22.0      Georgia State  1148640.0
Jonas Jerebko  29.0                NaN  5000000.0
...             ...                ...        ...
Shelvin Mack   26.0             Butler  2433333.0
Raul Neto      24.0                NaN   900000.0
Tibor Pleiss   26.0                NaN  2900000.0
Jeff Withey    26.0             Kansas   947276.0
NaN             NaN                NaN        NaN

[458 rows x 3 columns]

In [101]:
# Select a singlr row
first = df.loc["Avery Bradley"]
second = df.loc["R.J. Hunter"]

print(first, "\n\n\n", second)

Team        Boston Celtics
Number                   0
Position                PG
Age                     25
Height                 6-2
Weight                 180
College              Texas
Salary         7.73034e+06
Name: Avery Bradley, dtype: object


 Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height                 6-5
Weight                 185
College      Georgia State
Salary         1.14864e+06
Name: R.J. Hunter, dtype: object

In [102]:
# select multiple rows
first = df.loc[["Avery Bradley","R.J. Hunter"]]
print(first)

                         Team  Number  ...        College     Salary
Name                                   ...
Avery Bradley  Boston Celtics     0.0  ...          Texas  7730337.0
R.J. Hunter    Boston Celtics    28.0  ...  Georgia State  1148640.0

[2 rows x 8 columns]

In [105]:
# select 2 rows and 3 columns
first = df.loc[["Avery Bradley","R.J. Hunter"],["Team","Number","Position"]]
first

                         Team  Number Position
Name
Avery Bradley  Boston Celtics     0.0       PG
R.J. Hunter    Boston Celtics    28.0       SG

In [106]:
# select all rows and some columns
first = df.loc[:, ["Team",'Number',"Position"]]
first

                         Team  Number Position
Name
Avery Bradley  Boston Celtics     0.0       PG
Jae Crowder    Boston Celtics    99.0       SF
John Holland   Boston Celtics    30.0       SG
R.J. Hunter    Boston Celtics    28.0       SG
Jonas Jerebko  Boston Celtics     8.0       PF
...                       ...     ...      ...
Shelvin Mack        Utah Jazz     8.0       PG
Raul Neto           Utah Jazz    25.0       PG
Tibor Pleiss        Utah Jazz    21.0        C
Jeff Withey         Utah Jazz    24.0        C
NaN                       NaN     NaN      NaN

[458 rows x 3 columns]

In [107]:
# select single row using iloc
first = df.iloc[3]
first

Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height                 6-5
Weight                 185
College      Georgia State
Salary         1.14864e+06
Name: R.J. Hunter, dtype: object

In [108]:
# select multiple rows using iloc
first = df.iloc[[3,5,7]]
first

                        Team  Number  ...        College      Salary
Name                                  ...
R.J. Hunter   Boston Celtics    28.0  ...  Georgia State   1148640.0
Amir Johnson  Boston Celtics    90.0  ...            NaN  12000000.0
Kelly Olynyk  Boston Celtics    41.0  ...        Gonzaga   2165160.0

[3 rows x 8 columns]

In [109]:
# select 2 rows and 2 columns using iloc
first = df.iloc[[3,4],[1,2]]
first

               Number Position
Name
R.J. Hunter      28.0       SG
Jonas Jerebko     8.0       PF

In [111]:
# select all rows and some columns using iloc
first = df.iloc[:,[1,2]]
first

               Number Position
Name
Avery Bradley     0.0       PG
Jae Crowder      99.0       SF
John Holland     30.0       SG
R.J. Hunter      28.0       SG
Jonas Jerebko     8.0       PF
...               ...      ...
Shelvin Mack      8.0       PG
Raul Neto        25.0       PG
Tibor Pleiss     21.0        C
Jeff Withey      24.0        C
NaN               NaN      NaN

[458 rows x 2 columns]