In [1]:
emptyList =[] # emptylist
lst = ['one','two','three','four'] # list of strings
lst2 =[1,2,3,4]#list of integers
lst3 =[[1,2],[3,4]]#list of lists
lst4 =[1, 'ramu', 24, 2.4]# list of diffrent datatypes

In [2]:
lst4

[1, 'ramu', 24, 2.4]

In [3]:
type(lst4)

list

In [4]:
lst = ['one','two','three','four']
# length of a list
print(len(lst))

4

In [2]:
lst = ['one','two','three','four']
# append five to list
lst.append('five')
print(lst)

['one', 'two', 'three', 'four', 'five']

In [12]:
lst =['one','two','four']
lst.insert(-5,'three') # add element three at second index
print(lst)
print(len(lst))

['three', 'one', 'two', 'four']
4

In [13]:
lst = ['one','two','three','four','two']
lst.remove('two')# remove first occurence of two
print(lst)

['one', 'three', 'four', 'two']

In [14]:
lst =['one','two','three','four']
lst2 = ['five','six']

lst.append(lst2) # add as list
print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [21]:
lst =['one','two','three','four']
lst2 = ['five','six']

lst.extend(lst2) # add as elements
print(lst)

['one', 'two', 'three', 'four', 'five', 'six']

In [22]:
# del method
lst =['one','two','three','four','five']
del lst[1]
print(lst)

['one', 'three', 'four', 'five']

In [15]:
# pop method
lst =['one','two','three','four','five']
a=lst.pop(0)
print(a)
print(lst)

one
['two', 'three', 'four', 'five']

In [16]:
# remove it uses the value
lst =['one','two','three','four','five']
lst.remove('three')
print(lst)

['one', 'two', 'four', 'five']

In [26]:
# list keywords
lst =['one','two','three','four']

if 'two' in lst:
    print("AI")

if 'five' not in lst:
    print("ML")

AI
ML

In [17]:
# List reverse
lst =['one','two','three','four']
lst.reverse()
print(lst)

['four', 'three', 'two', 'one']

In [18]:
# List sort
num = [3,1,6,2,8]
sort_num = sorted(num)
print(sort_num)
print(num)

[1, 2, 3, 6, 8]
[3, 1, 6, 2, 8]

In [20]:
# List sort
str1 = ['three','one','six','two','eight']
sort_str = sorted(str1)
print(sort_str)
print(str1)

['eight', 'one', 'six', 'three', 'two']
['three', 'one', 'six', 'two', 'eight']

In [19]:
# List sort in descending order
num = [3,1,6,2,8]
sort_num = sorted(num)
sort_num_desc = sorted(num, reverse= True)
print(num)
print(sort_num)
print(sort_num_desc)

[3, 1, 6, 2, 8]
[1, 2, 3, 6, 8]
[8, 6, 3, 2, 1]

In [32]:
# sort and store in the same list
lst =[1,20,5,5,4.2]
lst.sort()
print(lst)

[1, 4.2, 5, 5, 20]

In [33]:
# sort descending and store in the same list
lst =[1,20,5,5,4.2]
lst.sort(reverse= True)
print(lst)

[20, 5, 5, 4.2, 1]

In [34]:
lst =[1,20,'a','b',5.5]
lst.sort()
print(lst)

TypeError: '<' not supported between instances of 'str' and 'int'

In [21]:
# reference in copy
lst=[1,2,3,4,5]
abc=lst
abc.append(6)
print(lst)

[1, 2, 3, 4, 5, 6]

In [22]:
# string split
s = "one,two,three,four,five"
ssplt = s.split(",")
print (s)
print(ssplt)

one,two,three,four,five
['one', 'two', 'three', 'four', 'five']

In [23]:
s ="This is Applied AI course"
str_splt = s.split() # default split is white charcter : space or tab
print(s)
print(str_splt)

This is Applied AI course
['This', 'is', 'Applied', 'AI', 'course']

In [24]:
# List Index
lst=[1,2,3,4]
print(lst[1])
print(lst[-1])

2
4

In [25]:
# List Slicing
num = [10,20,30,40,50,60,70,80]
print(num[:])
print(num[0:3])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30]

In [26]:
# alternate numbers
print(num)
print(num[::2])
print(num[2::2])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 30, 50, 70]
[30, 50, 70]

In [27]:
lst1 = [1, 2, 3, 4]
lst2 = ['varma', 'naveen', 'murali', 'brahma']
new_lst = lst1 + lst2

print(new_lst)

[1, 2, 3, 4, 'varma', 'naveen', 'murali', 'brahma']

In [28]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5]

#frequency of 1 in a list
print(numbers.count(1))

#frequency of 3 in a list
print(numbers.count(3))

#frequency of 5 in a list
print(numbers.count(5))

#frequency of 6 in a list
print(numbers.count(6))

2
2
1
0

In [29]:
#loop through a list

lst = ['one', 'two', 'three', 'four']

for ele in lst:
    print(ele)

one
two
three
four

In [36]:
lst1 = [ele for ele in lst]
print(lst1)

['one', 'two', 'three', 'four']

In [37]:
# Squaring without list comprhension
squares=[]
for i in range(10):
    squares.append(i**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [48]:
squares = []
for i in range(10):
    squares.extend([i**2])
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
# squaring with list comprhension
squares = [i**2 for i in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
squares = []

for i in range(10):
    squares.extend([i,i**2])
print(squares)
print(squares[4])

squares = []
for i in range(10):
    squares.append([i,i**2])
print(squares)

print(squares[4])

[0, 0, 1, 1, 2, 4, 3, 9, 4, 16, 5, 25, 6, 36, 7, 49, 8, 64, 9, 81]
2
[[0, 0], [1, 1], [2, 4], [3, 9], [4, 16], [5, 25], [6, 36], [7, 49], [8, 64], [9, 81]]
[4, 16]

In [39]:
lst =[-10, -20, 10, 20, 50]
# create new list for doubling
new_lst = [i*2 for i in lst]
print(new_lst)

# filter out negative numbers
new_lst = [i*2 for i in lst if i >=0]
print(new_lst)

# create tuples
new_lst =[(i, i**2) for i in lst]
print(new_lst)

[-20, -40, 20, 40, 100]
[20, 40, 100]
[(-10, 100), (-20, 400), (10, 100), (20, 400), (50, 2500)]

In [44]:
# matrix
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12]
]

print(len(matrix[0]))
transposed = []

for i in range(len(matrix[0])): # For each column
    lst = []
    for row in matrix: # Take the row
        print(row[i])# Print row1, col1 and then row 2 col1 etc
        lst.append(row[i])
    transposed.append(lst)

print(transposed)

4
1
5
9
2
6
10
3
7
11
4
8
12
[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [45]:
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]