In [1]:
# empty tuple
t = ()

# tuple with integers
t = (1,2,3)
print(t)

#tuple with mixed data types
t =(1, 'raju', 28.5 , True)
print(t)

# nested tuple
t =(1, (2,3,4),[1,'raju'])
print(t)

(1, 2, 3)
(1, 'raju', 28.5, True)
(1, (2, 3, 4), [1, 'raju'])

In [2]:
t =("Rajaram")
type(t)

str

In [3]:
t =("Rajaram",)
type(t)

tuple

In [4]:
t = "Rajaram",
print(type(t))
print(t)

<class 'tuple'>
('Rajaram',)

In [5]:
t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')
print(t[1])
print(t[-1])

murali
brahma

In [6]:
t = ('ABC', ('satish', 'naveen', 'srinu'))
print(t[1])
print(t[1][2])
print(t[0])

('satish', 'naveen', 'srinu')
srinu
ABC

In [7]:
t = (1, 2, 3, 4, 5, 6)
print(t[1:4])# Print second till 4th
print(t[:-2])# print other than last two
print(t[-2:])# print last two

(2, 3, 4)
(1, 2, 3, 4)
(5, 6)

In [8]:
# tuples are immutable
t = (1, 2, 3, 4, [5, 6, 7])
t[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [9]:
t = (1, 2, 3, 4, [5, 6, 7])
t[4][1] = 'satish'
print(t)

(1, 2, 3, 4, [5, 'satish', 7])

In [10]:
t = (1,2,3)+(4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [11]:
# repeat the elements
t = ('satish', ) * 4
print(t)

('satish', 'satish', 'satish', 'satish')

In [12]:
# we cant remove elements in tuple. However, we can delete full tuple
t = (1, 2, 3, 4, 5, 6)
#t.pop(1)
#delete entire tuple
del t

In [13]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

In [15]:
t = (1, 2, 3, 1, 3, 3, 4, 1)
print(t.index(4))

6

In [16]:
t = (1, 2, 3, 4, 5, 6)
print(2 in t)
print(7 in t)
print(7 not in t)

True
False
True

In [17]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

In [23]:
t = (4, 5, 1, 2, 3)

new_t = tuple(sorted(t))
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

(1, 2, 3, 4, 5)

In [22]:
t = (4, 5, 1, 2, 3)

t.sort()
print(t)

AttributeError: 'tuple' object has no attribute 'sort'

In [31]:
t = (2, 5, 1, 6, 9)
print(max(t))
print(sum(t))

9
23

In [24]:
t=input("Enter tuple")
print(t)
print(len(t))

Enter tuple1,2,3
1,2,3
5

In [32]:
t=tuple(int(i) for i in input("Enter tuple").split(','))
print(t)
print(len(t))

Enter tuple12,13
(12, 13)
2